.html,body{
    height: 100%;
    margin: 0;
}
.container {
  background-color: rgba(11, 44, 61, 0.1);
  display: flex;
  min-width: 240px;
  padding-bottom: 30px;
  flex-direction: column;
  justify-content: start;
  /* width: 1390px; */
  /* height: 100vh; */
  min-height: 100vh;
}

.title {
  align-self: stretch;
  background-color: #fff;
  border-bottom: 1px solid #000;
  /* width: 100%; */
  gap: 10px;
  overflow: hidden;
  font-size: 25px;
  color: #000;
  font-weight: 600;
  letter-spacing: -0.33px;
  line-height: 1;
  padding: 24px 60px;
}

.content {
  align-self: center;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  align-items: start;
  gap: 30px;
  justify-content: start;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .container {
    max-width: 100%;
  }
  
  .title {
    max-width: 100%;
    padding: 0 20px;
  }
  
  .content {
    max-width: 100%;
  }
}