.userCard {
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  margin-top: 20px;
  align-items: center;
  gap: 8px;
  line-height: 1;
  padding: 8px 16px 8px 16px;
  
}

.userCard.active {
  background: var(--Primary-1, #0b2c3d);
  color: #fff;
}

.avatar {
  aspect-ratio: 1;
  object-fit: contain;
  width: 60px;
  border-radius: 50%;
  align-self: stretch;
  margin: auto 0;
}

.userInfo {
  border-radius: 0;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: auto;
  max-width: 440px;
  margin: auto 0;
}

.name {
  font-size: 25px;
  font-weight: 600;
  line-height: 1;
  align-self: stretch;
  padding-bottom: 4px;
}

.contact {
  align-self: stretch;
  padding-bottom: 4px;
}

@media (max-width: 991px) {
  .contact {
    margin-right: 5px;
  }
}