.newsCard {
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    margin-top: 33px;
    min-height: 200px;
    /* width: 1244px;
    max-width: 100%; */
    gap: 10px;
    overflow: hidden;
    padding: 10px;
    margin-left:5%;
    margin-right:5%;
  }
  
  .imageWrapper {
    border-radius: 7px;
    display: flex;
    min-width: 240px;
    flex-direction: column;
    overflow: hidden;
    width: 270px;
    margin: auto 0;
  }
  
  .newsImage {
    aspect-ratio: 1.39;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
  
  .contentWrapper {
    border-right: 1px solid rgba(178, 147, 93, 0.2);
    display: flex;
    min-width: 240px;
    padding-left: 15px;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    font-family: Roboto, sans-serif;
    letter-spacing: -0.33px;
  }
  
  .newsContent {
    display: flex;
    width: 100%;
    max-width: 764px;
    flex-direction: column;
    justify-content: center;
    padding: 8px 0 1px;
  }
  
  .newsTitle {
    font-size: 25px;
    font-weight: 600;
    line-height: 1;
    color: #2c2c2c;
    margin: 0 0 8px 0;
  }
  
  .newsDescription {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #2c2c2c;
    margin: 0;
  }
  
  .metaInfo {
    border-top: 1px solid rgba(74, 98, 124, 0.2);
    display: flex;
    margin: 6px 0 0 0;
    min-height: 54px;
    align-items: start;
    gap: 40px;
    padding: 5px 0;
  }
  
  .metaItem {
    margin: 0;
  }
  
  .metaLabel {
    font-size: 14px;
    color: #999;
    font-weight: 400;
    margin: 5px 0;
  }
  
  .metaValue {
    font-size: 15px;
    color: #2c2c2c;
    font-weight: 600;
    line-height: 1;
    margin: 0;
  }
  
  .actionButtons {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    color: #0b2c3d;
    justify-content: center;
    flex: 1;
    flex-basis: 15px;
    font: 500 13px/2 Roboto, sans-serif;
    min-width: fit-content;
    padding: 10px;
  }
  
  .editButton,
  .hideButton {
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #0b2c3d;
    display: flex;
    width: 90px;
    gap: 5px;
    padding: 5px 10px;
    background: transparent;
    cursor: pointer;
    color: #0b2c3d;
    font: inherit;
    align-items: center;
  }
  
  .hideButton {
    margin-top: 20px;
  }
  
  .buttonIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 20px;
  }
  
  @media (max-width: 991px) {
    .contentWrapper {
      max-width: 100%;
    }
    
    .newsContent {
      max-width: 100%;
    }
    
    .newsTitle {
      max-width: 100%;
    }
    
    .newsDescription {
      max-width: 100%;
    }
    
    .metaValue {
      white-space: initial;
    }
  }