.reportItem {
    background-color: var(--color-white);
    border-color: #979797;
    border-bottom-width: 1px;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px;
    font-size: 15px;
    color: var(--color-grey-31);
    font-weight: 400;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 0;
  }
  
  .itemLeft {
    display: flex;
    gap: 17px;
    font-size: 15px;
    color: var(--color-grey-31);
    font-weight: 400;
    white-space: nowrap;
    letter-spacing: -0.33px;
    line-height: 1;
    margin: auto 0;
  }
  
  .itemContent {
    display: flex;
    gap: 24px;
    flex-grow: 1;
    flex-basis: auto;
  }
  
  .postTitle {
    line-height: 22px;
    letter-spacing: -0.33px;
    flex-basis: auto;
  }
  
  .reason {
    line-height: 22px;
    letter-spacing: -0.33px;
  }
  
  .date {
    line-height: 1;
    letter-spacing: -0.33px;
    margin: auto 0;
  }
  
  .detailButton {
    border-radius: 8px;
    background: var(--color-primary);
    font-size: 14px;
    color: var(--color-white);
    font-weight: 500;
    text-align: center;
    padding: 15px 39px;
  }
  
  @media (max-width: 991px) {
    .reportItem {
      max-width: 100%;
    }
    
    .itemLeft {
      white-space: initial;
    }
    
    .detailButton {
      padding: 0 20px;
    }
  }